*{
  box-sizing: border-box;
}

body{
  --primary-color: #0B3157;
  --secondary-color: #FFF;
  --accent-color: #48c1c2;
  --attention-color: #F06543;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
}

body{
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}